 {% extends "admin/base.html.twig" %}


  {% block body %}
  
   <div class="container-fluid">
       <div class="row my-5">
       <div class="col-md-4">
         <div class="card text-dark bg-light " >
             <div class="card-header">
                <h2 class="card-title">Information sur le site : </h2>
             </div>
              <div class="card-body">
                 <h4 class="card-title"><i class="fas fa-utensils mr-2"></i> Nombre de plat a la carte:</h4>
                 <p class="card-text">Vous proposer aujourd'hui {{menu.menu('menu') | length}} plats dont {{menu.entry | length}} entrées {{menu.mainDish | length}} plat et {{menu.dessert | length}} dessert</p>
              </div>
              <div class="card-body">
                <h4 class="card-title"><i class="fas fa-door-open mr-2"></i>Horaire d'ouverture:</h4>
                {% if today %}
                  <p class="card-text">Aujourd'hui vous ouvrer a {{today.openHours.open}}h et fermer a {{today.openHours.closed}}h</p>
                 {% else %}
                   <p class="card-text">Aujourd'hui vous êtes fermée</p>
                {% endif %}
              </div>
              <div class="card-body">
                <h4 class="card-title"><i class="fas fa-door-open mr-2"></i>Nombre d'inscrit a la newsletter:</h4>
               <p class="card-text">Vous avez {{subscriber}} {% if subscriber > 0 %}personnes {% else %} personne{% endif %} inscrite a la newsletter</p>
              </div>
              <div class="card-body">
                <h4 class="card-title"><a target="_blank" href="{{path('home.index')}}"><i class="far fa-eye mr-2"></i>Voir le site</a></h4>
              </div>
         </div>
       </div>
       <div class="col-md-8">
         <h2 class="text-center mb-5">Envoyé un mail : </h2>

         {{form_start(form)}}
          {{form_widget(form)}}
          <button class="btn btn-primary mt-4">Envoyé</button>
         {{form_end(form)}}
       </div>
       </div>
   </div>
  
  {% endblock %}