{% extends "base.html.twig" %}

{% block title %}Acceuil{% endblock %}

{% block body %}

{#Images#}
{% set coverImage = asset('build/images/coverImage.jpg') %}
{% set cuisine = asset('build/images/cuisine.jpg') %}
{% set hamburger = asset('build/images/hamburger.jpg') %}
{#EndImages#}

  <div class="cover-image">
     <img 
       src="{{ coverImage }}"
       class="img-fluid op-6" 
       srcset="{{coverImage}} 550w, {{cuisine}} 1500w"
       sizes="(max-width: 550px) 550px, 1500px"
       size="100%" 
     />
        <div class="resto-title">
                 <h1>L'adresse</h1> <br>
            <span>(bar, brasserie et café)</span>
        </div>
  </div>

  <div id="home-menu" class="container my-5">
     {% for plat in plats %}
        <div class="menu-container mb-5 reveal">
           <div class="row d-flex justify-content-center">
            <div class="menu-card card shadow p-3 bg-white rounded col-md-4 ">
                 <div class="card-body">
                    <img class="img-fluid" style="height: auto; width: 360px; display: block;" src={{hamburger}} alt=""/>
                    <h4 class="card-title text-center mt-4">{{plat.name}}</h4>
                 </div>
            </div>
               <div class="col-md-6 ml-5 mt-5">
                <h2 class="plat-title"><em>Discover</em></h2>
                <h3><strong>Notre {{plat.name}}</strong></h3>
                <p>{{plat.description}}</p>
              <a href="{{path("plat.show", {"slug" : plat.slug})}}" class="btn btn-warning mt-4">Voir plus ...</a>
            </div>
           </div>
       </div>
     {% endfor %}
  </div>


{% endblock %}