{% extends "base.html.twig" %}

{% block title %}Acceuil{% endblock %}

{% block body %}

{#Images#}
{% set resto = asset('build/images/coverImage.jpg') %}
{% set coverImage = asset('build/images/adresse-1500.jpg') %}
{% set hamburger = asset('build/images/hamburger.jpg') %}
{#EndImages#}

  <div class="cover-image">
     <img 
       srcset="{{asset('build/images/adresse-500.jpg')}} 500w,
               {{asset('build/images/adresse-2085.jpg')}} 2080w"
       src="{{ coverImage }}"
       class="img-fluid" 
       style="width:100%" 
     />
  </div>

  <div id="home-menu" class="container">
   <div class="row bg-light shadow bg-white rounded p-3" style="min-height:400px">
     <div class="col-md-6">
       <h3 class="mt-3 mb-4 history-title">Le restaurant :</h3>
      <img src="{{resto}}" class="mb-5 img-fluid rounded img-lightbox">
      <p>L’adresse Bar Restaurant d’ambiance Bar a Vins , cocktails et Bières Terrasse lounge et Musicale Restaurant Brasserie traditionnelle. Carte de produits frais cuisine maison Burgers et salades de saison. Services le Midi du Lundi au samedi. Services le Soir du jeudi au samedi
      Planche apéro tous les jours Pour le Goûter Pâtisseries, Glaces et dessert à la carte. Fermé le Dimanche Réservation conseillée, réservation groupe à partir de 20 personnes. </p>
      <p><strong>Aujourd'hui</strong> le restaurant est 
      {% if today  %}
       <u>ouvert de {{today.getOpenHours.getOpen}}h a {{today.getOpenHours.getClosed}}h</u>
      {% else %}
      <u>  fermée </u>
      {% endif %}</p>
     </div>
     <div class="col-md-5">
       <h2 class="my-3 text-center history-title">Qui somme nous : </h2>
       {% for s in staff %}
         <div class="row my-5">
           <div class="col-4 d-flex justify-content-center" style="max-height:120px">
             <img src="/upload_images/staff/{{s.imageName}}" class="rounded img-lightbox" style="width:70px;height:70px">
           </div>
         <div class="col-8"> 
            <h4 style="text-transform: capitalize;"><u>{{s.statu}}</u></h4>
           <p>{{s.description}}</p>
          </div>
       </div>
       {% endfor %}
     </div>
   </div>

  <h2 class="text-center my-5 section-title"><u>Nos plat a la Une</u></h2>

     {% for plat in plats %}
        <div class="menu-container mb-5 reveal">
           <div class="row">
            <div class="menu-card card shadow bg-white rounded col-md-4 p-3">
                 <div class="">
                    {% if plat.images | length > 0 %}
                    {% for image in plat.images %}
                       {% if loop.first %}
                          <img src="/upload_images/plat/{{image.imageName}}" style="width: 360px" class="img-lightbox img-fluid">
                       {% endif %}
                    {% endfor %}
                    {% else %}
                    <img src="{{hamburger}}" style="width: 360px" class="img-lightbox img-fluid rounded">   
                    {% endif %}
                 </div>
            </div>
               <div class="col-md-6 ml-5 mt-5">
                <h2 class="plat-title"><em>Discover</em></h2>
                <h3><strong>Notre {{plat.name}}</strong></h3>
                <p>{{plat.description}}</p>
              <a href="{{path("plat.show", {"slug" : plat.slug})}}" class="btn btn-warning mt-4">Voir plus ...</a>
            </div>
           </div>
       </div>
     {% endfor %}

  </div>


{% endblock %}