{% extends "base.html.twig" %}

{% block title %}Acceuil{% endblock %}

{% block body %}

{#Images#}
{% set coverImage = asset('build/images/coverImage.jpg') %}
{% set cuisine = asset('build/images/cuisine.jpg') %}
{% set hamburger = asset('build/images/hamburger.jpg') %}
{#EndImages#}

  <div class="cover-image">
     <img 
       src="{{ cuisine }}"
       class="img-fluid op-6" 
       style="width:100%" 
     />
      <div class="resto-title">
          <h1>L'adresse</h1> <br>
          <strong>(bar, brasserie et café)</strong>
      </div>
  </div>

  <div id="home-menu" class="container my-5">

  <h2 class="section-title my-5 text-center"><u>Un peu d'histoire:</u></h2>

   <div class="row bg-light shadow bg-white rounded p-3" style="min-height:400px">
     <div class="col-md-6">
       <h3 class="mt-3 mb-4 history-title">Le restaurant :</h3>
      <img src="{{coverImage}}" class=" mb-5 img-fluid rounded">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi ullam laudantium harum a tempora et quod delectus obcaecati quidem, magnam autem molestias unde eaque, beatae temporibus rerum nesciunt maxime?</p>
      <p><strong>Aujourd'hui</strong> le restaurant est ouvert de 8h a 20h</p>
     </div>
     <div class="col-md-5">
       <h2 class="my-3 text-center history-title">Qui somme nous : </h2>
       {% for s in staff %}
         <div class="row my-5">
           <div class="col-4 d-flex justify-content-center" style="max-height:120px">
             <img src="/upload_images/staff/{{s.imageName}}" class="rounded" style="width:70px;height:70px">
           </div>
         <div class="col-8"> 
            <h4 style="text-transform: capitalize;"><u>{{s.statu}}</u></h4>
           <p>{{s.description}}</p>
          </div>
       </div>
       {% endfor %}
     </div>
   </div>

  <h2 class="text-center my-5 section-title"><u>Nos plat a la Une</u></h2>

     {% for plat in plats %}
        <div class="menu-container mb-5 reveal">
           <div class="row">
            <div class="menu-card card shadow bg-white rounded col-md-4 p-3">
                 <div class="card-body">
                    {% if plat.images | length > 0 %}
                    {% for image in plat.images %}
                       {% if loop.first %}
                          <img src="/upload_images/plat/{{image.imageName}}" style="width: 360px" class="img-fluid">
                       {% endif %}
                    {% endfor %}
                    {% else %}
                    <img src="{{hamburger}}" style="width: 360px" class="img-fluid rounded">   
                    {% endif %}
                    <h4 class="card-title text-center mt-4">{{plat.name}}</h4>
                 </div>
            </div>
               <div class="col-md-6 ml-5 mt-5">
                <h2 class="plat-title"><em>Discover</em></h2>
                <h3><strong>Notre {{plat.name}}</strong></h3>
                <p>{{plat.description}}</p>
              <a href="{{path("plat.show", {"slug" : plat.slug})}}" class="btn btn-warning mt-4">Voir plus ...</a>
            </div>
           </div>
       </div>
     {% endfor %}

  </div>


{% endblock %}