{% extends "base.html.twig" %}

{% block body %}

<div class="container d-flex justify-content-center">
      <div class="alert alert-light shadow p-3 my-5" style="width:600px">
        <div class="alert-heading">
         <h1>Newsletter</h1>
         <hr>
          {{form_start(form)}}
            {{form_row(form.firstname)}}
            {{form_row(form.lastname)}}
            {{form_row(form.email)}}
           <div class="form-groupe mt-5">
              <button class="btn btn-primary">S'inscrire</button>
           </div>
          {{form_end(form)}}
        </div>
      </div>
</div>


{% endblock %}