<html>
   <head>
     <title>{{contact.subject}}</title>
   </head>
   <body>
     <h2>Vous avez reçu un mail de {{contact.username}}</h2>

      <h4>Sujet : {{contact.subject}}</h4>

     <p>{{contact.username}} vous a envoyé un message  : 
     <br>
     {{contact.message}}</p>

     <p>Envoyé depuis {{contact.email}}</p>
   </body>
</html>